body {
    padding: 10px;
}

h2 {
    margin-bottom: 20px;
}

.listing {
    display:flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 300px;
    padding: 10px;
    margin: 10px;

}

.listing img {
    max-height: 300px;
}

.listingInfo {
    margin-left: 20px;
}

p {
    font-size: 14px;
}

#date {
    color: slategrey;
}

.listingLink {
    text-decoration: none;
    color: black;
}

.listingPage img {
    max-height: 400px;
    margin: 10px 0 20px 0;
}

.listingPage {
    display: flex;
    flex-direction: row;
}

.listingPageInfo {
    margin: 5px 0 0 40px;
}

.listingPage form  {
    margin: 20px 0;
}

#addwatchlist {
    height: fit-content;
    width: fit-content;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(122, 122, 122);
    color: white;
    border-radius: 4px;
    border: none;
}

#addwatchlist:hover, #deletewatchlist:hover  {
    background-color: rgb(75, 75, 75);
    color: white;
}

#deletewatchlist {
    height: fit-content;
    width: fit-content;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(122, 122, 122);
    color: white;
    border-radius: 4px;
    border: none;
}