{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            </div>
            <input type="submit" id="compose-button" class="btn btn-primary" value="Send"/>
        </form>
    </div>

    <div id="singleEmail-view">
        <div>
            <div class="emailInfo" id="from-email">
                <span class="bold">From: </span>
                <span id="from"></span>
            </div>
            
            <div class="emailInfo" id="to-email">
                <span class="bold">To: </span>
                <span id="to"></span>
            </div>

            <div class="emailInfo" id="subject-email">
                <span class="bold">Subject: </span>
                <span id="subject"></span>
            </div>

            <div class="emailInfo" id="timestamp-email">
                <span class="bold">Timestamp: </span>
                <span id="timestamp"></span>
            </div>
            <div id="buttons">
                <button class="btn btn-sm btn-outline-primary" id="reply">Reply</button>
                <button class="btn btn-sm btn-outline-primary" id="archive"></button>
            </div>
            <hr>
            <div id="body"></div>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}