
.body {
    margin: 0 20px;
    padding: 8px 16px;
}

.post  {
    max-height: fit-content;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.post:not(:last-child) {
    margin-bottom: 10px;
}

textarea {
    border: none;
}

svg {
    margin-bottom: 2px;
}