.insidenav {
    position: relative;
    margin: 0 auto;
}

.navbar-brand  {
    position: absolute;
}

.body {
    width: 50%;
    margin: 30px auto;
}

.followers {
    display: flex;
    flex-direction: row;
}

.followersCount a {
    color: #4d4d4d;
}

.followersCount:not(:last-child) {
    margin-right: 15px;
}

.followersNumber {
    color: black;
    font-weight: bold;
}

.profileUsername {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.followButton {
    margin: 10px 0;
    border: black solid 1px;
    border-radius: 4px;
    padding: 2px 10px;
    font-weight: bold;
    background-color: white;
}

.followButton:hover {
    background-color: #f1f1f1;
}

.followButton:focus {
    outline: none;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.post  {
    max-height: fit-content;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 10px;;
}

.post:not(:last-child) {
    margin-bottom: 10px;
}

textarea {
    border: none;
}

svg {
    margin-bottom: 2px;
}

.content {
    font-size: 15px;
    margin-bottom: 5px;
}

small {
    font-size: 12px;
    color: rgb(172, 172, 172);
}

.edit, .save {
    font-size: 14px;
}

.save {
    color: green;
}

.edit:hover, .save:hover {
    cursor: pointer;
    text-decoration: underline;
}

.followersFollowing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

.followersFollowing a {
    color: #a8a8a8;
}

.userList a {
    color: black;
    font-size: 24px;
}

.like_button:hover {
    cursor: pointer;
}
