{% extends "student/layout.html" %} 

{% block title %} Student Rentals {%endblock%}

{% block body %}
<div class="index-content">
    <div class="small">Rent a place for your 2022-2023 college year in San Francisco&Bay Area</div>
    Find a perfect place for your college experience
</div>

<form class="search" method="POST" action="{% url 'list_results' %}">
    {% csrf_token %}
    <input type="search" placeholder="Search by city">
    <button type="submit">Search</button>
</form>
<a href="{% url 'list_results' %}" class="explore-all">Explore all</a>

{% endblock %}
