{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- This sets the width of the page to follow the screen-width of the device and zoom out to fit -->
        <link href="{% static 'student/styles.css' %}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand">Student Rentals</a>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'profile' %}">Profile</a>
                </li>
                <li>
                    <a href="{% url 'create' %}">Become a host</a>
                </li>
                <li>
                    <a href="#">Log out</a>
                </li>
            </ul>
        </nav>
        <main>
        {% block body %}
        {% endblock %}
        </main>
    </body>
</html>