<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IE=edge tells IE to use the latest rendering engine -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- This sets the width of the page to follow the screen-width of the device and zoom out to fit -->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>