{% extends "student/layout.html" %} 

{% block title %} Your profile {%endblock%}

{% block body %}
<div class="results-heading">Hello, Liza!</div>
<div class="profile-links">
    <a class="profile-big" id="profile-enquiries">Your enquiries</a>
    <a class="profile-big" id="profile-properties">Your properties</a>
    <a class="profile-big" id="profile-edit">Edit profile</a>
</div>
<div class="profile-links-content" id="enquiries">
    <hr>
    <a href="{% url 'rental' %}" class="result">
        <div class="result-image">
            <img src="https://a0.muscache.com/im/pictures/ac6e5839-c701-4f13-ac8b-89a47d2b7e74.jpg?im_w=720" alt="image of the property">
        </div>
        <div class="result-content">
            <div class="small">Private room</div>
            <div class="big">Queen room with shared bathroom</div>
            <hr class="hr-result">
            <ul class="amenities">
                <li class="small">Wifi</li>
                <li class="small">Washer</li>
                <li class="small">Kitchen</li>
                <li class="small">Bike storage</li>
            </ul>
            <div class="price">
                <span id="price">$980</span>
                <span>/ month</span>
            </div>
        </div>
    </a>
    <div class="rental-approval" style="background-color: #ff385c;">Declined</div>
    <hr>
    <a href="{% url 'rental' %}" class="result">
        <div class="result-image">
            <img src="https://image.student.com/max_1250x700/3519773e-65e8-11e9-ad90-0e62a2ece8f8-fe27d0d49d0242f2af85a656a694433e.jpg" alt="image of the property">
        </div>
        <div class="result-content">
            <div class="small">Private room</div>
            <div class="big">One spacious, cozy private room and bathroom</div>
            <hr class="hr-result">
            <ul class="amenities">
                <li class="small">Wifi</li>
                <li class="small">Kitchen</li>
                <li class="small">Bike storage</li>
            </ul>
            <div class="price">
                <span id="price">$1250</span>
                <span>/ month</span>
            </div>
        </div>
    </a>
    <div class="rental-approval" style="background-color: #ebcd23;" disabled>Pending</div>
</div>
<div class="profile-links-content" id="properties">
    <hr>
    You don't have any properties yet.
</div>
<div class="edit-content" id="edit">
    <hr>
    <form class="profile-change">
    <div class="form-group">
        <label for="first_name">First name</label>
        <div class="input-group">
            <input type="text" name="first_name" id="first_name" value="Liza">
            <input type="submit" class="change-button" value="Save" id="first-change"></input>
        </div>
    </div>
    </form>
    
    <form  class="profile-change">
        <div class="form-group">
            <label for="last_name">Last name</label>
            <div class="input-group">
                <input type="text" name="last_name" id="last_name" value="S" >
                <input type="submit" class="change-button" value="Save" id="last-change"></input>
            </div>
        </div>
    </form>

    <form   class="profile-change">
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="text" name="email" id="email" value="liza@gmail.com" >
                <input type="submit" class="change-button" value="Save" id="email-change"></input>
            </div>
        </div>
    </form>
</div>

<script src="/static/student/profile.js"></script>
{% endblock %}
