{% extends "student/layout.html" %} {% block title %} Queen room with shared
bathroom {%endblock%} {% block body %}
<div class="results-heading">{{property.title}}</div>
<div class="small">
  {{property.get_place_display}} • {{property.get_city_display}}
</div>
<div class="image-gallery">
  <div class="image-container">
    <img
      src="{{property.image1}}"
      alt="Queen room with shared bathroom"
      id="expandedImage"
    />
  </div>
  <div class="images-column">
    <div class="image-single">
      <img src="{{property.image1}}" alt="{{property.title}}" id="smallImage" />
    </div>
    <div class="image-single">
      <img src="{{property.image2}}" alt="{{property.title}}" id="smallImage" />
    </div>
    <div class="image-single">
      <img src="{{property.image3}}" alt="{{property.title}}" id="smallImage" />
    </div>
    <div class="image-single">
      <img src="{{property.image4}}" alt="{{property.title}}" id="smallImage" />
    </div>
  </div>
</div>
<div class="rental-content">
  <div class="rental-content-info">
    <div class="big" id="rental-big">Property details</div>
    <div class="info">{{property.description}}</div>
    <div class="big" id="rental-big">Address</div>
    <span class="small">{{property.address}}</span>
    <hr />
    <div class="big" id="rental-big">Amenities</div>
    <ul class="amenities">
      {% if amenities.wifi == True %}
      <li class="small">Wifi</li>
      {% endif %} {% if amenities.kitchen == True %}
      <li class="small">Kitchen</li>
      {% endif %} {% if amenities.washer == True %}
      <li class="small">Washer</li>
      {% endif %} {% if amenities.bike == True %}
      <li class="small">Bike storage</li>
      {% endif %} {% if amenities.parking == True %}
      <li class="small">Parking</li>
      {% endif %}
    </ul>
    <div class="big" id="rental-big">Security & Safety</div>
    {% if amenities.cctv == True %}
    <div id="included">
      <ul class="amenities">
        <li class="small">CCTV / Surveillance Cameras</li>
      </ul>
    </div>
    {% else %}
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">CCTV / Surveillance Cameras</li>
      </ul>
    </div>
    {% endif %} {% if amenities.gate == True %}
    <div id="included">
      <ul class="amenities">
        <li class="small">Controlled Access Gate</li>
      </ul>
    </div>
    {% else %}
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Controlled Access Gate</li>
      </ul>
    </div>
    {% endif %}
    <div class="big" id="rental-big">Bills included</div>
    {% if amenities.wifi_bill == True %}
    <div id="included">
      <ul class="amenities">
        <li class="small">Wifi</li>
      </ul>
    </div>
    {% else %}
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Wifi</li>
      </ul>
    </div>
    {% endif %} {% if amenities.water_bill == True %}
    <div id="included">
      <ul class="amenities">
        <li class="small">Water</li>
      </ul>
    </div>
    {% else %}
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Water</li>
      </ul>
    </div>
    {% endif %} {% if amenities.electricity_bill == True %}
    <div id="included">
      <ul class="amenities">
        <li class="small">Electricity</li>
      </ul>
    </div>
    {% else %}
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Electricity</li>
      </ul>
    </div>
    {% endif %} {% if amenities.gas_bill == True %}
    <div id="included">
      <ul class="amenities">
        <li class="small">Gas</li>
      </ul>
    </div>
    {% else %}
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Gas</li>
      </ul>
    </div>
    {% endif %} {% if amenities.heating_bill == True %}
    <div id="included">
      <ul class="amenities">
        <li class="small">Heating</li>
      </ul>
    </div>
    {% else %}
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Heating</li>
      </ul>
    </div>
    {% endif %}
  </div>
  {% if property.user != user %} {% if property.available == True %}
  <div class="rental-book">
    <div class="price">
      <span id="price">${{property.price}}</span>
      <span>/ month</span>
    </div>
    <div class="book-form">
      <form action="{% url 'rental' property.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            placeholder="Enter first name"
            value="{{user.first_name}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="name">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            placeholder="Enter last name"
            value="{{user.last_name}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            value="{{user.email}}"
            disabled
          />
        </div>
        {% if booking %}
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phonenumber"
            placeholder="Enter phone number"
            value="{{booking.0.phone}}"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="3"
            placeholder="Enter message"
            disabled
          >
{{booking.0.message}}</textarea
          >
        </div>
        <button
          type="submit"
          class="button-rental"
          id="{{booking.0.status}}"
          disabled
        >
          Inquiry status: {{booking.0.status}}
        </button>
        {% else %}
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phonenumber"
            placeholder="Enter phone number"
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="3"
            placeholder="Enter message"
          ></textarea>
        </div>
        <button type="submit" class="button-rental">Make inquiry</button>
        {% endif %}
      </form>
    </div>
  </div>
  {% endif %} {% endif %}
</div>

<script src="/static/student/image.js"></script>
{% endblock %}
