{% extends "student/layout.html" %} 

{% block title %} Queen room with shared bathroom {%endblock%}

{% block body %}
<div class="results-heading">
    Queen room with shared bathroom
</div>
<hr>
<div class="small">
    San Francisco, California
</div>
<div class="image-container">
    <img src="https://a0.muscache.com/im/pictures/ac6e5839-c701-4f13-ac8b-89a47d2b7e74.jpg?im_w=720" alt="Queen room with shared bathroom">
</div>
<div class="images-row">
    <div class="image-column">
        <img src="https://a0.muscache.com/im/pictures/ac6e5839-c701-4f13-ac8b-89a47d2b7e74.jpg?im_w=720" alt="Queen room with shared bathroom" onclick="myFunction(this);">
      </div>
      <div class="image-column">
        <img src="https://a0.muscache.com/im/pictures/edfcad9c-fe04-4bb2-a712-6ae253dfd461.jpg?im_w=1440" alt="Queen room with shared bathroom" onclick="myFunction(this);">
      </div>
      <div class="image-column">
        <img src="https://a0.muscache.com/im/pictures/a68d42e0-2e19-4c74-83c9-a5846df08843.jpg?im_w=1440" alt="Queen room with shared bathroom" onclick="myFunction(this);">
      </div>
      <div class="image-column">
        <img src="https://a0.muscache.com/im/pictures/7cbd13f3-a6a8-4b71-b1e7-3f9c9f6aaa55.jpg?im_w=1440" alt="Queen room with shared bathroom" onclick="myFunction(this);">
      </div>
</div>
{% endblock %}