{% extends "student/layout.html" %} {% block title %} Queen room with shared
bathroom {%endblock%} {% block body %}
<div class="results-heading">{{property.title}}</div>
<div class="small">{{property.get_place_display}} • {{property.get_city_display}}</div>
<div class="image-gallery">
  <div class="image-container">
    <img
      src="{{property.image1}}"
      alt="Queen room with shared bathroom"
      id="expandedImage"
    />
  </div>
  <div class="images-column">
    <div class="image-single">
      <img
        src="{{property.image1}}"
        alt="{{property.title}}"
        id="smallImage"
      />
    </div>
    <div class="image-single">
      <img
        src="{{property.image2}}"
        alt="{{property.title}}"
        id="smallImage"
      />
    </div>
    <div class="image-single">
      <img
        src="{{property.image3}}"
        alt="{{property.title}}"
        id="smallImage"
      />
    </div>
    <div class="image-single">
      <img
        src="{{property.image4}}"
        alt="{{property.title}}"
        id="smallImage"
      />
    </div>
  </div>
</div>
<div class="rental-content">
  <div class="rental-content-info">
    <div class="big" id="rental-big">Property details</div>
    <div class="info">{{property.description}}</div>
    <div class="big" id="rental-big">Address</div>
    <a
      href="https://www.google.com/maps/place/8+10th+St,+San+Francisco,+CA+94103/@37.7761435,-122.4196172,17z/data=!3m1!4b1!4m5!3m4!1s0x8085809c396a98e3:0x6804142df53695e9!8m2!3d37.7761393!4d-122.4174285?hl=en"
      class="small"
      target="_blank"
      rel="noopener noreferrer"
      >{{property.address}}</a
    >
    <hr />
    <div class="big" id="rental-big">Amenities</div>
    <ul class="amenities">
      <li class="small">Wifi</li>
      <li class="small">Kitchen</li>
      <li class="small">Washer</li>
      <li class="small">Bike storage</li>
    </ul>
    <div class="big" id="rental-big">Security & Safety</div>
    <div id="included">
      <ul class="amenities">
        <li class="small">CCTV / Surveillance Cameras</li>
      </ul>
    </div>
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Controlled Access Gate</li>
      </ul>
    </div>
    <div class="big" id="rental-big">Bills included</div>
    <div id="included">
      <ul class="amenities">
        <li class="small">Wifi</li>
        <li class="small">Water</li>
      </ul>
    </div>
    <div id="notIncluded">
      <ul class="amenities">
        <li class="small">Gas</li>
        <li class="small">Electricity</li>
        <li class="small">Heating</li>
      </ul>
    </div>
  </div>
  <div class="rental-book">
    <div class="price">
      <span id="price">${{property.price}}</span>
      <span>/ month</span>
    </div>
    <div class="book-form">
      <form action="">
        <div class="form-group">
          <label for="name" >First name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter first name"
            value="{{user.firstname}}"
          />
        </div>
        <div class="form-group">
          <label for="name">Last name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter last name"
            value="{{user.lastname}}"
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            value="{{user.email}}"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            placeholder="Enter phone number"
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            rows="3"
            placeholder="Enter message"
          ></textarea>
        </div>
        <button type="submit" id="button-rental">Make enquiry</button>
      </form>
    </div>
  </div>
</div>

<script src="/static/student/image.js"></script>
{% endblock %}
