/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Navigation */
    .navbar-brand {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
    .navbar-list li {
        font-size: 16px;
    }
    .navbar-list li:not(:last-child) {
        margin-right: 10px;
    }

    /* Index */
    main  {
        margin: 0 15px;
    }
    .big {
        font-size: 16px;
    }
    .small {
        font-size: 12px;
    }
    .price {
        font-size: 16px;
    }
    #price {
        font-size: 19px;
    }

    /* Rental page */
    .results-heading {
        font-size: 25px;
    }
    .image-gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .images-column {
        flex-direction: row;
    }
    .image-container {
        width: 100%;
        height: fit-content;
    }
    .rental-content {
        flex-direction: column;
    }
    .rental-book {
        margin: 35px 0 0 0;
        width: 80%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Navigation */
    .navbar-brand {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
    .navbar-list li {
        font-size: 20px;
    }
    .navbar-list li:not(:last-child) {
        margin-right: 10px;
    }

    /* Index */
    main  {
        margin: 0 50px;
    }
    .big {
        font-size: 18px;
    }
    .small {
        font-size: 12px;
    }
    .price {
        font-size: 17px;
    }
    #price {
        font-size: 20px;
    }

    /* Rental page */
    .results-heading {
        font-size: 28px;
    }
    .image-gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .images-column {
        flex-direction: row;
    }
    .image-container {
        width: 100%;
        height: fit-content;
    }
    .rental-content {
        flex-direction: column;
    }
    .rental-book {
        margin: 35px 0 0 0;
        width: 60%;
    }
}
/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 900px) {
    /* Navigation */
    .navbar-brand {
        display: flex;
    }
    .navbar {
        justify-content: space-between;
    }
    .navbar-list li {
        font-size: 21px;
    }
    .navbar-list li:not(:last-child) {
        margin-right: 16px;
    }

    /* Index */
    main  {
        margin: 0 100px;
    }
    .big {
        font-size: 20px;
    }
    .small {
        font-size: 14px;
    }
    .price {
        font-size: 19px;
    }
    #price {
        font-size: 22px;
    }

    /* Rental page */
    .results-heading {
        width: auto;
        font-size: 36px;
    }
    .image-gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .images-column {
        flex-direction: row;
    }
    .image-container {
        width: 100%;
    }
    .rental-content {
        flex-direction: row;
    }
    .rental-book {
        margin: 35px 0 0 40px;
        width: 50%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Navigation */
    .navbar-brand {
        display: flex;
    }
    .navbar-list li {
        font-size: 22px;
    }
    .navbar-list li:not(:last-child) {
        margin-right: 20px;
    }

    /* Index */
    main  {
        margin: 0 135px;
    }
    .big {
        font-size: 22px;
    }
    .small {
        font-size: 14px;
    }
    .price {
        font-size: 19px;
    }
    #price {
        font-size: 22px;
    }

    /* Rental page */
    .results-heading {
        font-size: 42px;
    }
    .image-gallery {
        flex-direction: row;
    }
    .images-column {
        flex-direction: column;
    }
    .image-container {
        height: 630px;
    }
    .rental-content {
        flex-direction: row;
    }
    .rental-book {
        margin: 35px 0 0 40px;
        width: 30%;
    }
}