{% extends "network/layout.html" %}

{% block body %}
<div class="profileUsername">
    {{profile_user.username}}
</div>
<div>
    <div class="followersFollowing">
        Following
        <a href="{% url 'followers' profile_user.username %}">Followers</a>
    </div>
    <hr />
    {% for follower in following %}
    <div class="userList">
        <a href="{% url 'profile' follower.user.username %}">{{follower.user.username}}</a>
    </div>
    {% endfor %}
    
    {% if not following %}
        <p>No following yet</p>
    {% endif %}
</div>

{% endblock %}