{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Listings</h2>
    {% for listing in listings %}
    <div class="listing">
        {% if listing.image %}
            <img src="{{listing.image}}" alt="Listing image">
        {% else %}
            <img src="https://cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_grande.gif" alt="Listing image">
        {% endif %}
        <div class="listingInfo">
            <div >{{listing.title}}</div>
            <div >${{listing.starting_bid}}</div>
            <div >Created {{listing.created_at}}</div>
        </div>
    </div>
    {% endfor %}

{% endblock %}