body {
    margin-bottom: 50px;
}

textarea {
    min-height: 400px;
}

.email {
    display: flex;
    border: #f0f0f0 solid 1px;
    border-radius: 4px;
    padding: 10px;
    position:relative;
    cursor: pointer;
}

#readEmail {
    background-color: #f0f0f0;
}

#notReadEmail {
    background-color: #ffffff;
}

#notReadEmail:hover {
    background-color: #f0f0f0;
}

#notReadEmail .sender, #notReadEmail .subject {
    font-weight: bold;
}

#emails-view .email:not(:last-child) {
    margin-bottom: 10px;
}

.timestamp {
    color: #999;
    position: absolute;
    right: 10px;
}

.sender {
    width: 30%;
}

.subject {
    width: 50%;
}
